<ion-view title="前端关注－历史">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="searchInput.data" type="search" ng-change="turnFn()" placeholder="搜索历史文章">
                <button class="button button-clear button-light" ng-click="searchStart()">搜索</button>
            </div>
        </form>
        <div ng-show="showItems.paperList" ng-repeat="item in list" class="list card">
            <a class="paperInList" href="#/page1/page6/:{{item.id}}"><div class="item item-divider">{{item.title}}——{{item.author}}</div>
            <div class="item item-body"></div></a>
        </div>
        <div ng-show="showItems.searching" class="loader" style="background:url(img/loader.gif) no-repeat;width:100px;height:100px;"></div>
    </ion-content>
</ion-view>