<ion-view class="bottom" title="Tabs Controller">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="今天" icon="ion-ios-color-wand-outline" href="#/page1/page5">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="历史" icon="ion-ios-infinite-outline" href="#/page1/page6">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="槽" icon="ion-ios-circle-outline" href="#/page1/page7">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>