.bar-positive{
	background-color: rgb(132,183,6) !important;
	border-color: rgb(132,183,6) !important;
}
.tag{
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.tabs{
	background-color: rgb(46,48,46) !important;
}
.paperInList{
	text-decoration: none;
}
button{
	z-index: 100;
}
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
}
.code{
	font-weight: bold;
	border:1px solid #ddd;
	padding-left: 10px;
	white-space: pre;
	border-radius: 5px;
	border-left: 10px solid #b4e636;
}
textarea{
	height: 150px;
}
.send-bottom{
	// position: absolute;
}
.button-positive{
	background-color: rgb(132,183,6) !important;
	border-color: rgb(132,183,6) !important;
}
p{
	text-indent: 10px;
}
// strong{
// 	display: bolck;
// 	padding-top: 10px;
// 	padding-bottom: 10px;
// 	border-top: 1px solid #ddd;
// 	border-bottom: 1px solid #ddd;
// }
img{
	max-width: 93%;
}
.bottom{
	position: absolute;
	bottom: 0px;
}